*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project_notebook.iml
.idea/inspectionProfiles/Project_Default.xml
./my_secrets.py
my_secrets.py
__pycache__/secrets.cpython-39.pyc
Demonstration/
Image_Generation/__pycache__/my_secrets.cpython-39.pyc
User_Interaction/voice_input.wav
Scene_Analyzer/ngrok_api_test.ipynb
User_Interaction/voice_input.wav
**/*.pyc
Image_Generation/__pycache__/send_prompt.cpython-39.pyc
Scene_Analyzer/__pycache__/gpt_call.cpython-39.pyc
.cpython-39.pyc
User_Interaction/test_whisper_service.ipynb
User_Interaction/voice_input.wav
/__pycache__/*
