.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project_notebook.iml
.idea/inspectionProfiles/Project_Default.xml
./my_secrets.py
my_secrets.py
__pycache__/secrets.cpython-39.pyc
