body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

form {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
  #imageCarousel {
    height: 500px; /* Adjust this value as needed */
    margin-bottom: 20px; /* Space below the carousel */
  }
  .carousel-inner > .item > img {
    max-height: 500px; /* Adjust this value as needed */
  }
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); /* Almost transparent dark grey */
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 0;
    }