<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dream Genie - Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>

<body>
    <button id="backButton" class="btn btn-primary">Go Back</button>

    <h1>Gallery Page</h1>
    <p>Your Images will be displayed here</p>
    <!-- Bootstrap Carousel -->
    <span id="spinner" class="loader" style="visibility: visible;"></span>
    <br>
    <div id="imageCarousel" class="carousel slide" style="visibility: hidden;" data-interval="false">

        <ol class="carousel-indicators" id="imageIndicators">
        </ol>

        <div class="carousel-inner" id="imageContainer">
            <!-- Placeholder image -->

            <div class="item active" id="placeholder">
                <img src="{{ url_for('static', filename='placeholder.png') }}" alt="Placeholder" width="300"
                    height="300">
            </div>

            <!-- Other Images will be appended here -->
        </div>
        <a class="left carousel-control" href="#imageCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a id="right-control" class="right carousel-control" href="#imageCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        const user_id = "{{ user_id }}"; // get the user id passed in the context
        console.log("I'm user: {{ user_id }}");
        const source = new EventSource("{{ url_for('sse.stream') }}?channel=" + encodeURIComponent(user_id));
        console.log("My source is:" + source.url);


        document.addEventListener("DOMContentLoaded", function () {
            var backButton = document.getElementById("backButton");
            backButton.addEventListener("click", function () {
                window.location.href = "/";
            });
        });



        source.addEventListener('image_and_scene', function (event) {
            var spinner = document.getElementById('spinner');
            spinner.style.visibility = 'hidden';
            var imageCarousel = document.getElementById('imageCarousel');
            imageCarousel.style.visibility = 'visible';
            const data = JSON.parse(event.data);

            // image from base64 to blob
            const binaryString = window.atob(data.image.split(',')[1]);
            const arrayBuffer = new ArrayBuffer(binaryString.length);
            const uint8Array = new Uint8Array(arrayBuffer);
            for (let i = 0; i < binaryString.length; i++) {
                uint8Array[i] = binaryString.charCodeAt(i);
            }
            const imageBlob = new Blob([arrayBuffer], { type: 'image/png' }); // Create a BLOB object
            const imagePath = URL.createObjectURL(imageBlob);
            const scene = data.scene;
            console.log("Received image path: ", imagePath);
            imageArray.push(imagePath);
            addImageToCarousel(scene);
        }, false);


        var imageArray = [];


        function addImageToCarousel(scene) {
            console.log("Adding image to carousel, array: ", imageArray);
            if (imageArray.length > 0) {
                var imagePath = imageArray.shift();
                var imageContainer = document.getElementById('imageContainer');
                console.log("Image Container: ", imageContainer);
                var firstChild = imageContainer.firstElementChild;
                var itemDiv = document.createElement('div');
                itemDiv.className = 'item';

                if (firstChild === null) {
                    itemDiv.className += ' active';
                }

                else if (firstChild.id === 'placeholder') {
                    imageContainer.removeChild(firstChild);
                    itemDiv.className += ' active';
                }

                var imageElement = document.createElement('img');
                imageElement.src = imagePath;
                imageElement.alt = "Image";
                imageElement.width = 768;
                imageElement.height = 512;


                // imageElement.onload = function () {
                //     var canvas = document.createElement('canvas');
                //     canvas.width = imageElement.width;
                //     canvas.height = imageElement.height;
                //     var context = canvas.getContext('2d');
                //     context.drawImage(imageElement, 0, 0);
                //     var dataURL = canvas.toDataURL('image/png');
                //     console.log("on load");
                //     // Create the "Save" button
                //     var saveButton = document.createElement('button');
                //     saveButton.className = 'btn btn-primary save-button';
                //     saveButton.innerHTML = '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>';
                //     saveButton.addEventListener('click', function () {
                //         console.log("on save");
                //         var downloadLink = document.createElement('a');
                //         downloadLink.href = dataURL;
                //         downloadLink.download = 'image.png';
                //         document.body.appendChild(downloadLink);
                //         downloadLink.click();
                //         document.body.removeChild(downloadLink);
                //     });
                // }

                var canvas = document.createElement('canvas');
                canvas.width = imageElement.width;
                canvas.height = imageElement.height;
                var context = canvas.getContext('2d');
                context.drawImage(imageElement, 0, 0);
                var dataURL = canvas.toDataURL('image/png');
                // Create the caption element
                var captionElement = document.createElement('div');
                captionElement.className = 'carousel-caption d-none d-md-block';
                // Apply CSS styles to the caption for a transparent dark background
                captionElement.style.backgroundColor = 'rgba(0, 0, 0, 0.5)'; // Transparent black
                captionElement.style.color = '#fff'; // White text
                captionElement.style.padding = '10px'; // Padding for better appearance
                // center the text in the box
                captionElement.style.alignContent = 'center';
                var captionText = document.createElement('p');
                captionText.innerText = scene;

                captionElement.appendChild(captionText);

                // Append image and caption to carousel item
                itemDiv.appendChild(imageElement);
                itemDiv.appendChild(captionElement);

                // Append new carousel item to carousel
                imageContainer.appendChild(itemDiv);
                $(document).ready(function () {
                    $('#imageCarousel').carousel();
                });
                // Get the last index of the carousel items
                var lastIndex = $('.carousel-inner').children().length - 1;
                var lastIndex2 = document.querySelectorAll('.carousel-inner .item').length - 1;
                console.log("Last index using pure JS: ", lastIndex2);

                console.log("Last index: ", lastIndex);
                // Move to the last item (newly added one)
                $('#imageCarousel').carousel(lastIndex);
            }

        }


    </script>
    <button id="feedbackButton" class="btn btn-primary" onclick="window.location.href='/feedback'">Give Feedback</button>

</body>

</html>